html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 10;
    width: 250px;
    text-align: center;
}

h2 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.disconnected {
    height: 70px;

    background: #FFFFFF;
    border-radius: 5px;
}

.connected {
    margin: 10px;
    height: 78px;
}

#create-session {
    background: #CC0000;
    position: absolute;
    width: 147px;
    height: 28px;
    left: 52px;
    top: 50px;
    border-radius: 12px;
    outline: none;

    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#leave-session {
    background: #CC0000;
    position: absolute;
    width: 147px;
    height: 28px;
    left: 52px;
    top: 82px;
    border-radius: 12px;
    outline: none;

    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#share-url {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 52px;
    top: 42px;
    border: 2px solid #C7C7C7;
    border-color: #C7C7C7;
    border-radius: 12px;
    outline: none;

    font-family: 'Roboto Mono';
} 


#copy-btn-clicked {
    position: absolute;
    left: 171px;
    top: 42px;
}

#copy-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 171px;
    top: 42px;
    background-color: white;

    cursor: pointer;
}

#copy-btn:active {
    opacity: 0;
}
