html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.error {
    height: 100px;
    width: 250px;
    text-align: center;
}

.disconnected {
    height: 100px;
    width: 250px;
    background: #FFFFFF;
}

.connected {
    height: 100px;
    width: 300px;
}

#create-session {
    background: #CC0000;
    position: absolute;
    width: 167px;
    height: 30px;
    left: 41.5px;
    top: 60px;
    border: 1px solid #C7C7C7;
    border-color: #C7C7C7;
    border-radius: 12px;
    outline: none;

    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#leave-session {
    background: #CC0000;
    position: absolute;
    width: 167px;
    height: 30px;
    left: 66.5px;
    top: 80px;
    border: 1px solid #C7C7C7;
    border-color: #C7C7C7;
    border-radius: 12px;
    outline: none;

    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#share-url {
    position: absolute;
    width: 125px;
    height: 22px;
    left: 66.5px;
    top: 42px;
    border: 2px solid #C7C7C7;
    border-color: #C7C7C7;
    border-radius: 12px;
    outline: none;

    font-family: 'Roboto Mono';
} 


#copy-btn-clicked {
    position: absolute;
    left: 205.5px;
    top: 42px;
}

#copy-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 205.5px;
    top: 42px;
    background-color: white;

    cursor: pointer;
}

#copy-btn:active {
    opacity: 0;
}

#show-log-btn {
    position: absolute;
    width: 20px;
    height: 12.52px;
    left: 140px;
    top: 120.52px;

    outline: none;
    background: white;
}

.container {
    position: absolute;
    /* box-sizing: border-box; */
    top: 125px;
    width: 265px;
    left: 15px;
    /* margin: 0 auto; */
    border: solid 1px #ccc;
    border-radius: 5px;
    overflow: hidden;

    font-family: 'Roboto Mono';
    font-size: 11px;
    
}
  .chat-container {
    height: 260px;
    width: 265px;
    overflow: auto;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
   direction: rtl; 
  }
  .chat-container .intro-message {
    padding: 1px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    direction: ltr;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }
  .chat-container .message {
    border-top: solid 1px #ccc;
    padding: 1px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    direction: ltr;
    text-align: left;
  }

  .chat-container .message p {
      margin-left: 0.5em;
  }

  .send-message input {
    width: 100%;

    border: none;
    border-top: solid 1px #ccc;
    font-size: 12px;
    padding: 7px;

    outline: none;

    font-family: 'Roboto Mono';
  }
  .send-message button {
    display: none;
  }

  #hide-log-btn {
    position: absolute;
    width: 20px;
    height: 12.52px;
    left: 140px;
    top: 425px;
    transform: rotate(180deg);

    outline: none;
    background: white;
}
